<ion-view title="Cathderal">
  <ion-content class="has-header">
    <!-- overall-->
	<div class="list card">

	  <div class="item item-avatar">
	    <img src="img/3.jpg">
	    <h2>Helsinki Cathedral</h2>
      	<p>Unionsgatan 29, 00170 Helsingfors</p>
	  </div>

	  <div class="item item-image">
	    <img src="img/3.jpg">
	  </div>

	  <a class="item item-icon-left assertive" href="#">
	    <i class="icon ion-music-note"></i>
	    Start listening
	  </a>

	</div>

<!-- detail-->
	<div class="list card">
		<div class="item item-avatar">
	    	<h2>Inside</h2>
	 	</div>
	  

		<div class="item item-image">
		   	<img src="img/3.1.jpg">
		</div>

		<a class="item item-icon-left assertive" href="#">
		  <i class="icon ion-music-note"></i>
		    Start listening
		</a>

	</div>
  </ion-content>
</ion-view>
