<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header"> 
	<!-- Map-->
   	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31764.32871839943!2d24.92341580937344!3d60.15969995220887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sfi!4v1411453513120" width="100%" height="400" frameborder="0" style="border:0"></iframe>
	<!-- search-->
	<div class="list list-inset">
  		<label class="item item-input">
    	<i class="icon ion-search placeholder-icon"></i>
    	<input type="text" placeholder="Search Destination">
  		</label>
	</div>	
	<!-- list-->
   <div class="list">

    <a class="item item-thumbnail-left" href="#/app/place1">
      <img src="img/1.jpg">
      <h2>Uspenski Cathderal</h2>
      <p>Kanavakatu 1, 00160 Helsinki</p>
    </a>

    <a class="item item-thumbnail-left" href="#/app/place2">
      <img src="img/2.JPG">
      <h2>Helsinki Cathderal</h2>
      <p>Unioninkatu 29, Helsinki</p>
    </a>

    <a class="item item-thumbnail-left" href="#/app/place3">
      <img src="img/3.jpg">
      <h2>Temppeliaukion Church</h2>
      <p>Lutherinkatu 3, 00100 Helsinki</p>
    </a>





</div>
  </ion-content>
</ion-view>
